<html>
    <head>
        <title>List of Jobs</title>
    </head>
    <body>
        <h1>You added a job!</h1>
        <p>{{ newjob.getCompany }}</p>
        <p>{{ newjob.getDateRange }}</p>
        <p>{{ newjob.getPosition }}</p>
        <p><a href='/'>View your list of jobs.</a></p>
    </body>
</html>
